body {
 font-family: 'Roboto', sans-serif;
    height: 100vh;

}

#main-top {

    width: 100%;
    background-color: #1b72e8;

}

/* regole header */
.navbar {
    height: 60px;
}
.navbar a{
    text-decoration: none;
}
#bar {
    position: relative;
}

.img-smart {
    width: 40px;
}
.img-desk{
    width: 120px; 
}
.fa-magnifying-glass {
    font-size: 15px;
    position: absolute;
    top: 12px;
    left: 5px;
}

.fa-bell {
    font-size: 15px;
    color: #ff9005;
}
/* regloe left side */
.left-side {
    width: 60px;
    height: 100%;
    background-color:#051e34 ;
    background-image:url(../img/sidebar-bg.png);
    color: white;
}
.icon:hover{
background-color: rgba(255, 255, 255, 0.49);

}
.dropdown-toggle:after {
    content: none
}
/* <!-- SEZIONE HEADER MAIN --> */
.btn .text-white{
    background-color:#072f68 ;
}
/* <!--REGOLE SEZIONE PROSSIME CLASSI --> */

.btn-outline-primary{
    border-color: white;
    color: white;
}
.btn-outline-primary:hover{
    border-color: white; 
}
/* debug */
nav {
    height: 80px;
    background-color: black;
}

td{
    position: relative;
}
#avatar{
 
    width: 8%;
    left: -10px;
    top: 10px;
}
.minus {
    width: 100%;
    height: calc(100vh - 60px);

}

/* .left-side {
    width: 60px;
    height: 100%;
    background-color: chartreuse;
    color: white;
} */

.right-side {
    width: calc(100% - 60px);
    height: 100%;
 
    overflow: scroll;
}

.col .right-side {
    height: 100px;
    background-color: blue;
    border: 1px solid yellow;
}
@media screen and (min-width:767px) {
    .left-side{
        width: 100px; 
    }
    .right-side {
        width: calc(100% - 100px);
       ;
    }
}